.board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 34px;
    height: 120px;
    padding: 0;
    text-align: center;
    width: 120px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .game-title{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: green;
    z-index: 10;
    font-size: 70px;
  }
  .playButton, .restartButton{
    display: block;
    background-color: #000;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    width: 350px;

  }
  .playButton:hover, .restartButton:hover{
    background-color: #fff;
    color: #000;
  }
  .modal{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .pauseButton{
    right: 0;
    top: 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid transparent;
  }
  .winner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .winner h1{
    text-shadow: 2px 2px 4px #000;
    font-size: 5em;
  }
  .winner button{
    background-color: green;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    width: 200px;
    border-radius: 5px;
  }
  .winner button:hover{
    background-color: #fff;
    color: #000;
  }

  @media (max-width: 840px) {
    .game-title{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .square{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .game-info{
        position: absolute;
        top: 65%;
        font-size: 12px;
    }
    .game-info ol li p{
        padding: 0;
        margin: 0;
    }
    .winner h1{
        font-size: 40px;
    }
  }